.app-home {
  max-width: 600px;

  h2 {
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  button {
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    padding: 0 10px;
    height: 30px;
    background-color: blue;

    &[disabled],
    &.loading {
      pointer-events: none;
    }
    &.loading {
      color: transparent;

      &:after {
        content: '...';
        color: white;
      }
    }
  }
  p {
    margin-bottom: 20px;
  }
  pre {
    padding: 10px;
    font-size: 12px;
    margin-bottom: 20px;
    overflow: scroll;
    width: 100%;
    font-family: monospace;
  }
  .keys {
    font-family: monospace;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;

    button {
      font-size: 12px;
      margin: 0 0 0 10px;
      height: 20px;
    }
    .key {
      display: flex;
      align-items: center;
      white-space: nowrap;
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .check {
    font-size: 20px;
  }
  .error {
    background-color: orangered;
    color: white;
  }
  .account {
    background-color: whitesmoke;
  }
}